* {
    margin: 0;
    box-sizing: border-box;
}

div {
    border: solid black;
}

.mainContainer {
    min-height: 100vh; width: 100vw;
    background-color: aqua;
    display: grid;
    grid-template: 150px 1fr / 250px 1fr;
}

.sidebar {
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

