* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

div {
    border: solid black;
}

img {
    height: 25px;
}

.mainContainer {
    min-height: 100vh; width: 100vw;
    background-color: aqua;
    display: grid;
    grid-template: 150px 1fr / 250px 1fr;
}

.sidebar {
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 10px;
}
    .dashboardLogo,
    .navButtons,
    .settingsButtons {
        padding-left: 30px;
        }
        .sideButton {
            display: flex;
            margin: 10px 0px;
            gap: 10px;
            align-items: center;
            border: none;
        }

